@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 94%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 90%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.lightGrayC {
  color: #b4c8d2;
}

.grayC {
  color: #4a5568 !important;
}

.blueC {
  color: #4285f4 !important;
}

.darkBlueC {
  color: #003180;
}

.middleBlueC {
  color: #0645b2;
}

.lightestGray {
  color: #5a7e8d;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f28 {
  font-size: 28px;
}

.f48 {
  font-size: 48px;
}

.btnBg {
  background: #2372fd;
}

.fw600 {
  font-weight: 600;
}

.dGreenC {
  color: #1d5f3d;
}

.lighthCColor {
  color: #304650;
}

.green_line {
  background: #3baa6f;
  background: -webkit-gradient(linear, left top, right top, color-stop(53%, #3baa6f), color-stop(53%, #dee7eb));
  background: linear-gradient(90deg, #3baa6f 53%, #dee7eb 53%);
  height: 3px;
}

.activeSidebar {
  background: rgba(224, 239, 255, 0.25);
  color: #000;
  font-weight: 600;
}

.hrBg {
  background-color: #a0a0a0;
}

.bottomLine {
  border-bottom: 3px solid #80b1ff;
}

.pointer {
  cursor: pointer;
}

.sidebarActive {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
}

.sidebarActive:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btnBg2 {
  background: #e0efff;
  color: #0645b2;
  letter-spacing: -0.531474px;
  border-radius: 4px;
  font-size: 16px;
}

.btnBg4 {
  border-radius: 4px;
  background: #e0efff;
  letter-spacing: -0.531474px;
  color: #0645b2;
}

.allBorder {
  border: 1px solid #d4dfe5;
}

.pagination_container .MuiPaginationItem-page.Mui-selected {
  background-color: #2372fd !important;
  color: #fff;
}

.search_container select {
  width: 150px;
  height: 34px;
  padding: 0rem 0.5rem;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  position: fixed;
  right: 0%;
  bottom: 0%;
  background-color: #fff;
  height: 100vh;
  z-index: 11111;
  width: 30%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
}

.SideBarContainer .logo {
  position: absolute;
  top: 2.1%;
  left: 18%;
}

.SideBarContainer .logo img {
  width: 120px;
}

.SideBarContainer .cart {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.SideBarContainer .cart p {
  font-size: 12px;
  line-height: 130%;
  color: #304650;
  font-weight: normal;
}

.SideBarContainer .cart h6 {
  font-size: 12px;
}

.SideBarContainer .cart .product {
  width: 75%;
}

.SideBarContainer .cart input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.SideBarContainer .cart input:focus {
  outline: none;
}

.SideBarContainer .cart input::-webkit-outer-spin-button,
.SideBarContainer .cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.SideBarContainer .cart input[type="number"] {
  -moz-appearance: textfield;
}

.SideBarContainer .cart .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.SideBarContainer .cart .quantity_cont {
  width: 180px;
}

.SideBarContainer ul {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

.SideBarContainer ul li {
  position: relative;
  list-style: none;
  margin-bottom: 0.1rem;
  cursor: pointer;
  padding: 0.4rem 0rem;
}

.SideBarContainer ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.loginBtn {
  background: #2372fd;
  width: 100%;
}

.loginBtn2 {
  background: #e0efff;
  color: #0645b2;
  width: 100%;
}

.CrossBTn {
  position: absolute;
  top: 3.1%;
  left: 7.4%;
  cursor: pointer;
  font-size: 0.9rem;
  color: #0645b2;
}

/* ==================== SideBAR STYLING END ======================== */
.upper_header {
  background: #f4f7f8;
  height: 32px;
}

.header_container {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header_container input {
  background: #f4f7f8;
  border: 1px solid #d4dfe5;
  padding-left: 2.2rem;
}

.header_container input::-webkit-input-placeholder {
  color: #b4c8d2;
}

.header_container input:-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::placeholder {
  color: #b4c8d2;
}

.header_container input:focus {
  outline: none;
}

.header_container .nav_links a {
  font-size: 0.85rem;
}

.header_container .searchIcon {
  position: absolute;
  left: 2%;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_containerM .logo_cont img {
  width: 120px;
  height: auto;
}

.header_container.activeSideMbar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, white), color-stop(47%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, white 47%, rgba(0, 0, 0, 0.8) 47%);
}

.pop_up {
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: 2;
}

.hero_section .bg_circle {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 0%;
}

.hero_section h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 80px;
}

.hero_section p {
  font-size: 1.875rem;
}

.hero_section button {
  font-size: 1rem;
  width: 250px;
  height: 61px;
}

.category_container {
  background: url(../assets/categoryBg.svg);
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
}

.category_container h1 {
  font-size: 3rem;
}

.category_container .innerSlideCont {
  padding: 12px;
}

.category_container .innerSlideCont h6 {
  color: #304650;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.hampers_container {
  margin-top: 6rem;
}

.hampers_container .hamper_card {
  border: 1px solid #ccdde485;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.hampers_container .hamper_card .greenBgStar {
  background: #e2fbef;
  border-radius: 100px;
  font-size: 0.75rem;
}

.hampers_container .hamper_card .h_name {
  line-height: 130%;
}

.hampers_container .hamper_card .cut_tag {
  font-size: 0.75rem;
}

.hampers_container .hamper_card input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.hampers_container .hamper_card input:focus {
  outline: none;
}

.hampers_container .hamper_card input::-webkit-outer-spin-button,
.hampers_container .hamper_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hampers_container .hamper_card input[type="number"] {
  -moz-appearance: textfield;
}

.hampers_container .hamper_card .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.hampers_container .hamper_card .quantity_cont {
  width: 180px;
}

.hampers_container .slick-slide {
  padding: 0 12px;
}

.hampers_container .slick-dots {
  bottom: -30px;
}

.hampers_container .slick-dots li {
  margin: 0px;
}

.hampers_container .slick-dots li button:before {
  color: #0645b2;
}

.hampers_container .slick-dots li button:before {
  font-size: 12px;
}

.bakery_container {
  margin-top: 15rem;
}

.bakery_container select {
  background: rgba(233, 243, 253, 0.5);
  border: 1px solid #d4dfe5;
  border-radius: 4px;
  height: 40px;
  width: 239px;
  color: #4a5568;
  font-size: 14px;
  line-height: 18px;
}

.bakery_container select:focus {
  outline: none;
}

.bakery_container .hamper_card.bakeryCard {
  border: 1px solid #ccdde485;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.bakery_container .hamper_card.bakeryCard .greenBgStar {
  background: #e2fbef;
  border-radius: 100px;
  font-size: 0.75rem;
}

.bakery_container .hamper_card.bakeryCard img {
  width: 30%;
}

.bakery_container .hamper_card.bakeryCard .h_name {
  font-size: 12px;
  line-height: 130%;
}

.bakery_container .hamper_card.bakeryCard .cut_tag {
  font-size: 0.75rem;
}

.bakery_container .hamper_card.bakeryCard input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.bakery_container .hamper_card.bakeryCard input:focus {
  outline: none;
}

.bakery_container .hamper_card.bakeryCard input::-webkit-outer-spin-button,
.bakery_container .hamper_card.bakeryCard input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bakery_container .hamper_card.bakeryCard input[type="number"] {
  -moz-appearance: textfield;
}

.bakery_container .hamper_card.bakeryCard .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.bakery_container .hamper_card.bakeryCard .innerBody {
  background: #f4f7f8;
}

.feature_containerMain {
  margin-top: 5rem;
}

.feature_container.recommend {
  margin-bottom: 10rem;
}

.feature_container {
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
}

.feature_container .hamper_card {
  border: 1px solid #ccdde485;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.feature_container .hamper_card .greenBgStar {
  background: #e2fbef;
  border-radius: 100px;
  font-size: 0.75rem;
}

.feature_container .hamper_card .h_name {
  line-height: 130%;
}

.feature_container .hamper_card .cut_tag {
  font-size: 0.75rem;
}

.feature_container .hamper_card input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.feature_container .hamper_card input:focus {
  outline: none;
}

.feature_container .hamper_card input::-webkit-outer-spin-button,
.feature_container .hamper_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feature_container .hamper_card input[type="number"] {
  -moz-appearance: textfield;
}

.feature_container .hamper_card .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.feature_container .hamper_card .aocBtn.btnFilled {
  background-color: #2372fd;
  color: #fff;
}

.feature_container .hamper_card .quantity_cont {
  width: 180px;
}

.feature_container .slick-slide {
  padding: 0 12px;
}

.feature_container .slick-prev,
.feature_container .slick-next {
  background: #d7fdff;
  -webkit-box-shadow: 1px 1px 10px #cecece;
          box-shadow: 1px 1px 10px #cecece;
  height: 40px;
  width: 30px;
}

.feature_container .slick-prev {
  left: -5px;
  z-index: 2;
}

.feature_container .slick-next {
  right: -5px;
}

.feature_container .slick-prev:before {
  display: block;
  content: " ";
  background-image: url("../assets/left.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_container .slick-next:before {
  display: block;
  content: " ";
  background-image: url("../assets/right.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_container .slick-dots {
  bottom: -40px;
}

.feature_container .slick-dots li {
  margin: 0px;
}

.feature_container .slick-dots li button:before {
  color: #0645b2;
}

.feature_container .slick-dots li.slick-active button:before {
  color: #0645b2;
}

.feature_container .slick-dots li button:before {
  font-size: 12px;
}

.feature_container .card_body {
  background: #f4f7f87e;
}

.shop_container {
  background: #ccdde425;
  margin-top: 8rem;
  padding: 5rem 0rem;
}

.shop_container .shop_card img {
  height: 85px;
}

.shop_container .shop_card h4 {
  line-height: 130%;
}

.shop_container .shop_card .desc_cont {
  width: 75%;
  margin-top: 2rem;
}

.shop_container .shop_card .desc_cont p {
  line-height: 22px;
}

.customer_container {
  background: url(../assets/serveBg.png);
  width: 100%;
  height: 100%;
  padding: 6rem 0rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.customer_container:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #0645b2;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.customer_container .inner_customer {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 3rem 4rem 4rem;
}

.customer_container .inner_customer h1 {
  font-size: 3rem;
  line-height: 46px;
}

.customer_container .inner_customer h3 {
  line-height: 110%;
  color: #4a5568;
  font-size: 1.875rem;
}

.customer_container .inner_customer button {
  width: 305px;
  height: 62px;
  border-radius: 4px;
}

.CTA_container {
  background: #ccdde46e;
}

.CTA_container h5 {
  color: #45626f;
  line-height: 132%;
}

.footer_container {
  background-color: #fff;
  padding: 4rem 0rem 5rem;
}

.footer_container h6 {
  color: #001d4f;
}

.footer_container li a {
  color: #304650;
}

.footer_container .contact_cont img {
  width: 25px;
  height: 100%;
}

.bg-page {
  position: absolute;
  background: #f4f9fe;
  height: 150vh;
  width: 100%;
  z-index: -1;
}

.bg-page2 {
  position: absolute;
  background: #f4f9fe;
  height: 1800px;
  width: 100%;
  z-index: -1;
}

.my_order_body {
  height: 920px;
  z-index: -2;
}

.my_order_body .bg_blue {
  position: relative;
  top: 0%;
  background: url(../assets/otherPageBg.svg);
  height: 300px;
  width: 100%;
}

.my_order_body .bg_blue:before {
  content: "";
  background: #0645b2;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.my_order_body .mainHead {
  font-size: 54px;
  line-height: 81px;
  font-weight: bold;
}

.my_order_body .mainP {
  font-size: 14px;
  font-weight: normal;
}

.my_order_body .mainP a {
  text-decoration: none;
}

.my_order_body .mainP a:hover {
  text-decoration: underline;
  color: #fff;
}

.my_order_body .inner_order {
  position: absolute;
  left: 0%;
  top: 10%;
}

.underFooter_container {
  background: #45626f;
  height: 32px;
}

.underFooter_container img {
  width: 35px;
  height: auto;
}

.basketitems_container {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.basketitems_container h3 {
  color: #0645b2;
  font-weight: bold;
}

.basketitems_container .cart {
  height: 80px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.basketitems_container .cart .img_container {
  border: 1px solid #e9eff2;
  height: 80px;
  width: 80px;
}

.basketitems_container .cart .img_container img {
  width: 100%;
  height: 100%;
}

.basketitems_container .cart p {
  line-height: 130%;
  color: #304650;
  font-weight: normal;
}

.basketitems_container .cart .product {
  width: 75%;
}

.basketitems_container .cart input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.basketitems_container .cart input:focus {
  outline: none;
}

.basketitems_container .cart input::-webkit-outer-spin-button,
.basketitems_container .cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.basketitems_container .cart input[type="number"] {
  -moz-appearance: textfield;
}

.basketitems_container .cart .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.basketitems_container .cart .quantity_cont {
  width: 180px;
}

.basketitems_container .mainDiv .first {
  width: 70%;
}

.basketitems_container .mainDiv .second {
  width: 30%;
}

.order_summary_container {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.order_summary_container h3 {
  color: #0645b2;
}

.order_summary_container.ordered_items {
  min-height: 1px;
  height: 100%;
  border-radius: 4px;
}

.order_summary_container.ordered_items button {
  width: 100px;
}

.order_summary_container.checkout button {
  height: 37px;
  padding: 0px;
}

.basketitems_container.checkout label {
  color: #1a2a32;
  line-height: 18px;
  font-weight: 500;
  font-size: 14px;
}

.basketitems_container.checkout input {
  border-radius: 4px;
  background: rgba(233, 243, 253, 0.5);
  border: 1px solid #d4dfe5;
  height: 40px;
  color: #4a5568;
  padding: 0px 16px;
  font-size: 14px;
}

.basketitems_container.checkout input::-webkit-input-placeholder {
  color: #4a5568;
  font-size: 14px;
}

.basketitems_container.checkout input:-ms-input-placeholder {
  color: #4a5568;
  font-size: 14px;
}

.basketitems_container.checkout input::-ms-input-placeholder {
  color: #4a5568;
  font-size: 14px;
}

.basketitems_container.checkout input::placeholder {
  color: #4a5568;
  font-size: 14px;
}

.basketitems_container.checkout input:focus {
  outline: none;
}

.basketitems_container.checkout .inp_container input {
  padding-left: 35px;
}

.basketitems_container.checkout .inp_container .location_icon {
  position: absolute;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 25px;
}

.basketitems_container.checkout .inp_container .location_icon.icon2 {
  position: absolute;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 15px;
}

.basketitems_container.checkout .map_container {
  margin-top: 2rem;
}

.basketitems_container.checkout .map_container iframe {
  border-radius: 4px;
  height: 300px;
}

.basketitems_container.checkout .border_cont {
  border: 1px solid #d4dfe5;
  border-radius: 4px;
}

.basketitems_container.checkout .border_cont .save_btn {
  background: #e2fbef;
  color: #1d5f3d;
  letter-spacing: -0.531474px;
  border-radius: 4px;
}

.basketitems_container.checkout .payment_continue button {
  background: #2372fd;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: -0.531474px;
  font-size: 14px;
}

.basketitems_container.checkout .border_cont.info_sec .name_ {
  color: #304650;
  font-weight: bold;
  font-size: 14px;
}

.basketitems_container.checkout .border_cont.info_sec .under_name {
  color: #5a7e8d;
  font-size: 14px;
}

.my_order_body.receiptDetails {
  height: 1610px;
  z-index: -2;
}

.interestedIn {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.productGallery_container {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.productGallery_container .quantity_cont {
  -webkit-box-shadow: 2px 1px 10px #e0e0e0;
          box-shadow: 2px 1px 10px #e0e0e0;
}

.productGallery_container input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.productGallery_container input:focus {
  outline: none;
}

.productGallery_container input::-webkit-outer-spin-button,
.productGallery_container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productGallery_container input[type="number"] {
  -moz-appearance: textfield;
}

.productGallery_container .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

/* ============================ */
/* == IMAGE GALLERY START == */
/* ============================ */
.imageGalleryContainer .image-gallery {
  padding: 8px 8px 4px 8px;
  -webkit-box-shadow: 1px 1px 10px #e6e6e6;
          box-shadow: 1px 1px 10px #e6e6e6;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.imageGalleryContainer .image-gallery-image,
.imageGalleryContainer .image-gallery-index,
.imageGalleryContainer .image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 6px;
}

.imageGalleryContainer .image-gallery-thumbnail {
  border-radius: 10px;
}

.imageGalleryContainer .image-gallery {
  padding: 0;
}

.imageGalleryContainer .image-gallery-thumbnail .image-gallery-thumbnail-image {
  height: 65px !important;
}

.imageGalleryContainer .image-gallery-content.fullscreen .image-gallery-image {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100vh;
}

.imageGalleryContainer .image-gallery-content:not(.fullscreen):not(.fullscreen)
.image-gallery-image {
  /* height: calc(100vh - 245px); */
  height: 400px;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 70px;
  width: 100%;
}

.imageGalleryContainer .image-gallery-thumbnail.active,
.imageGalleryContainer .image-gallery-thumbnail:focus {
  border: 4px solid #2372fd;
}

.delux_product {
  height: 400px;
  overflow-y: auto;
}

.delux_product::-webkit-scrollbar {
  width: 7px;
}

.delux_product::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.delux_product::-webkit-scrollbar-thumb {
  background: #2372fd;
  border-radius: 10px;
}

.delux_product .inner_delux {
  height: 100px;
}

.delux_product .inner_delux img {
  margin: auto;
  max-height: 80px;
}

/* ============================ */
/* == IMAGE GALLERY END == */
/* ============================ */
.sign_in_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign_in_container .signIn_right {
  background: url(../assets/signin.svg);
  background-color: #0645b2;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.sign_in_container .signIn_container {
  width: 60%;
  background-color: #f4f9fe;
  padding: 0rem 1rem;
}

.sign_in_container .signIn_container .inner_signIn {
  max-width: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.sign_in_container .signIn_container .inner_signIn img {
  width: 209px;
  height: auto;
}

.sign_in_container .signIn_container .inner_signIn h3 {
  color: #0645b2;
}

.sign_in_container .signIn_container .inner_signIn label {
  color: #1a2a32;
}

.sign_in_container .signIn_container .inner_signIn input {
  border-radius: 4px;
  background: rgba(233, 243, 253, 0.5);
  border: 1px solid #d4dfe5;
  height: 40px;
  color: #4a5568;
  padding: 0px 16px;
  font-size: 14px;
}

.sign_in_container .signIn_container .inner_signIn input:focus {
  outline: none;
}

.sign_in_container .signIn_container .inner_signIn .inp_password {
  position: relative;
  height: 100%;
}

.sign_in_container .signIn_container .inner_signIn .inp_password .eye_cont {
  right: 20px;
  top: 36px;
  font-size: 18px;
  color: #b4c8d2;
}

.sign_in_container .signIn_container .inner_signIn .share_icon:nth-child(3) {
  color: #000000;
}

.sign_in_container .signIn_container .inner_signIn .share_icon {
  color: #2372fd;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
}

.basketitems_container.recommend .cont_shopping {
  background: #e0efff;
  color: #0645b2;
  width: 100%;
}

.my_order_body .payment_with_card .payment_cont {
  border: 1px solid #d4dfe5;
  border-radius: 4px;
}

.my_order_body .payment_with_card .payment_cont .single_pay {
  margin-top: 0.4rem;
  border: 1px solid #b1d0ff;
  background: rgba(233, 243, 253, 0.5);
  height: 40px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_order_body .payment_with_card .payment_cont .last {
  border: none;
  background: #dee7eb;
  color: #bfd0d8;
}

.my_order_body .payment_with_card label {
  color: #1a2a32;
}

.my_order_body.trackOrder {
  height: 750px;
}

/* The container */
.container_radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
  top: 5.8px;
  left: 6.7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.confirmation_top button {
  background: #2372fd;
  border: none;
  font-size: 17px;
  color: white;
  width: 305px;
  height: 62px;
  border-radius: 4px;
}

.my_order_body.confirmation {
  height: 1360px;
}

.my_order_body.confirmation .basketitems_container {
  min-height: 1px;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .sign_in_container .signIn_container {
    width: 80%;
  }
}

@media screen and (max-width: 998px) {
  .my_order_body.trackOrder {
    height: 1030px;
  }
  .sign_in_container .signIn_container .inner_signIn {
    width: 380px;
  }
  .hero_section img {
    width: 100%;
  }
  .SideBarContainer {
    width: 40%;
  }
  .my_order_body {
    height: 1400px;
  }
  .bg-page {
    height: 200vh;
  }
  .order_summary_container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .basketitems_container {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .my_order_body.receiptDetails {
    height: 1970px;
    z-index: -2;
  }
  .bg-page2 {
    height: 2200px;
  }
  .my_order_body.ordered_items {
    height: 1580px;
  }
  .f48 {
    font-size: 40px;
  }
  .my_order_body.confirmation {
    height: 2100px;
  }
}

@media screen and (max-width: 768px) {
  .f48 {
    font-size: 35px;
  }
  .sign_in_container .signIn_container {
    width: 100%;
    height: 100vh;
  }
  .sign_in_container .signIn_container .inner_signIn {
    max-width: 380px;
  }
  .header_container .nav_links {
    height: 40px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .hero_section h1 {
    font-size: 2.625rem;
    line-height: 48px;
  }
  .hero_section p {
    font-size: 1.5rem;
  }
  .hero_section button {
    width: 100%;
  }
  .category_container {
    background: url(../assets/categoryM.svg);
    height: 100%;
    width: 100vw;
    padding: 5rem 0rem;
  }
  .category_container h1 {
    font-size: 2.25rem;
  }
  .hero_section .bg_circle {
    width: 100%;
  }
  .customer_container .inner_customer h1 {
    font-size: 2rem;
    line-height: 38px;
  }
  .customer_container .inner_customer h3 {
    font-size: 1.5rem;
  }
  .customer_container .inner_customer button {
    width: 100%;
  }
  .customer_container .inner_customer {
    padding: 3rem 1rem 3rem 1rem;
  }
  .shop_container h1 {
    font-size: 2.25rem;
  }
  .shop_container .shop_card h4 {
    font-size: 1.125rem;
  }
  .shop_container .shop_card .desc_cont {
    width: 100%;
  }
  .SideBarContainer {
    width: 55%;
  }
  .bakery_container select {
    width: 100%;
  }
  .bakery_container {
    margin-top: 5rem;
  }
  .bakery_container .hamper_card.bakeryCard .first {
    width: 25%;
  }
  .bakery_container .hamper_card.bakeryCard .second {
    width: 75%;
  }
  .bakery_container .hamper_card.bakeryCard img {
    width: 80%;
  }
  .feature_container.recommend {
    margin-bottom: 6rem;
  }
  .basketitems_container .cart p {
    font-size: 12px;
  }
  .basketitems_container .cart h6 {
    font-size: 12px;
  }
  .my_order_body .mainHead {
    font-size: 32px;
    line-height: 50px;
  }
  .my_order_body .mainP a {
    font-size: 12px;
  }
  .my_order_body {
    height: 1180px;
  }
  .basketitems_container .cart .img_container {
    border: none;
  }
  .basketitems_container .cart .quantity_cont {
    width: 100%;
  }
  .my_order_body.receiptDetails {
    height: 1680px;
    z-index: -2;
  }
  .basketitems_container.checkout .payment_continue button {
    width: 100%;
  }
  .imageGalleryContainer
.image-gallery-content:not(.fullscreen):not(.fullscreen)
.image-gallery-image {
    height: 250px;
  }
  .container_radio .checkmark:after {
    left: 5.7px;
  }
  .my_order_body.confirmation {
    height: 2200px;
  }
  .green_line {
    background: #3baa6f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, #3baa6f), color-stop(53%, #dee7eb));
    background: linear-gradient(180deg, #3baa6f 53%, #dee7eb 53%);
    min-height: 1px;
    height: 240px;
    width: 3px;
  }
  .search_container select {
    width: 100%;
    height: 32px;
  }
}

@media screen and (max-width: 575px) {
  .f48 {
    font-size: 35px;
  }
  .feature_container .slick-slide img {
    width: 40%;
  }
  .feature_container .hamper_card .quantity_cont {
    width: 100%;
  }
  .feature_container .slick-dots {
    bottom: -30px;
  }
  .hampers_container .slick-dots li button:before,
  .feature_container .slick-dots li button:before {
    font-size: 10px;
  }
  .underFooter_container {
    height: 100%;
  }
  .SideBarContainer {
    width: 100%;
  }
  .sign_in_container .signIn_container .inner_signIn .inp_password .eye_cont {
    top: 34px;
  }
  .sign_in_container .signIn_container {
    background: url(../assets/signin.svg);
    background-color: #0645b2;
    padding: 0rem;
  }
  .sign_in_container .signIn_container .inner_signIn img {
    width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */