@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 94%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 90%;
  }
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.lightGrayC {
  color: #b4c8d2;
}

.grayC {
  color: #4a5568 !important;
}

.blueC {
  color: #4285f4 !important;
}

.darkBlueC {
  color: #003180;
}

.middleBlueC {
  color: #0645b2;
}

.btnBg {
  background: #2372fd;
}

.fw600 {
  font-weight: 600;
}

.dGreenC {
  color: #1d5f3d;
}

.lighthCColor {
  color: #304650;
}

.activeSidebar {
  background: rgba(224, 239, 255, 0.25);
  color: #000;
  font-weight: 600;
}

.hrBg {
  background-color: #a0a0a0;
}

.bottomLine {
  border-bottom: 3px solid #80b1ff;
}

.pointer {
  cursor: pointer;
}

.sidebarActive {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
}

.sidebarActive:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  position: fixed;
  right: 0%;
  bottom: 0%;
  background-color: #fff;
  height: 100vh;
  z-index: 11111;
  width: 30%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
}

.SideBarContainer .logo {
  position: absolute;
  top: 2.1%;
  left: 18%;
}

.SideBarContainer .logo img {
  width: 120px;
}

.SideBarContainer .cart {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.SideBarContainer .cart p {
  font-size: 12px;
  line-height: 130%;
  color: #304650;
  font-weight: normal;
}

.SideBarContainer .cart h6 {
  font-size: 12px;
}

.SideBarContainer .cart .product {
  width: 75%;
}

.SideBarContainer .cart input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.SideBarContainer .cart input:focus {
  outline: none;
}

.SideBarContainer .cart input::-webkit-outer-spin-button,
.SideBarContainer .cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.SideBarContainer .cart input[type="number"] {
  -moz-appearance: textfield;
}

.SideBarContainer .cart .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.SideBarContainer .cart .quantity_cont {
  width: 180px;
}

.SideBarContainer ul {
  margin-top: 5rem;
  padding-left: 1rem;
  padding-right: 1.4rem;
}

.SideBarContainer ul li {
  position: relative;
  list-style: none;
  margin-bottom: 0.1rem;
  cursor: pointer;
  padding: 0.4rem 0rem;
}

.SideBarContainer ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.loginBtn {
  background: #2372fd;
  width: 100%;
}

.CrossBTn {
  position: absolute;
  top: 3.1%;
  left: 7.4%;
  cursor: pointer;
  font-size: 0.9rem;
  color: #0645b2;
}

/* ==================== SideBAR STYLING END ======================== */
.upper_header {
  background: #f4f7f8;
  height: 32px;
}

.header_container {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header_container input {
  background: #f4f7f8;
  border: 1px solid #d4dfe5;
  padding-left: 2.2rem;
}

.header_container input::-webkit-input-placeholder {
  color: #b4c8d2;
}

.header_container input:-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::placeholder {
  color: #b4c8d2;
}

.header_container input:focus {
  outline: none;
}

.header_container .nav_links a {
  font-size: 0.85rem;
}

.header_container .searchIcon {
  position: absolute;
  left: 2%;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_containerM .logo_cont img {
  width: 120px;
  height: auto;
}

.header_container.activeSideMbar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, white), color-stop(47%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, white 47%, rgba(0, 0, 0, 0.8) 47%);
}

.pop_up {
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: 2;
}

.hero_section .bg_circle {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 0%;
}

.hero_section h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 80px;
}

.hero_section p {
  font-size: 1.875rem;
}

.hero_section button {
  font-size: 1rem;
  width: 250px;
  height: 61px;
}

.category_container {
  background: url(../assets/categoryBg.svg);
  height: 100%;
  width: 100%;
  padding: 5rem 0rem;
}

.category_container h1 {
  font-size: 3rem;
}

.category_container .innerSlideCont {
  padding: 12px;
}

.category_container .innerSlideCont h6 {
  color: #304650;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.hampers_container {
  margin-top: 4rem;
}

.hampers_container .hamper_card {
  border: 1px solid #ccdde485;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.hampers_container .hamper_card .greenBgStar {
  background: #e2fbef;
  border-radius: 100px;
  font-size: 0.75rem;
}

.hampers_container .hamper_card .h_name {
  line-height: 130%;
}

.hampers_container .hamper_card .cut_tag {
  font-size: 0.75rem;
}

.hampers_container .hamper_card input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.hampers_container .hamper_card input:focus {
  outline: none;
}

.hampers_container .hamper_card input::-webkit-outer-spin-button,
.hampers_container .hamper_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hampers_container .hamper_card input[type="number"] {
  -moz-appearance: textfield;
}

.hampers_container .hamper_card .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.hampers_container .hamper_card .quantity_cont {
  width: 180px;
}

.hampers_container .slick-slide {
  padding: 0 12px;
}

.hampers_container .slick-dots {
  bottom: -30px;
}

.hampers_container .slick-dots li {
  margin: 0px;
}

.hampers_container .slick-dots li button:before {
  color: #0645b2;
}

.hampers_container .slick-dots li button:before {
  font-size: 12px;
}

.feature_containerMain {
  margin-top: 5rem;
}

.feature_container {
  max-width: 1175px;
  margin-left: auto;
  margin-right: auto;
}

.feature_container .hamper_card {
  border: 1px solid #ccdde485;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.feature_container .hamper_card .greenBgStar {
  background: #e2fbef;
  border-radius: 100px;
  font-size: 0.75rem;
}

.feature_container .hamper_card .h_name {
  line-height: 130%;
}

.feature_container .hamper_card .cut_tag {
  font-size: 0.75rem;
}

.feature_container .hamper_card input {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 24px;
  height: 24px;
}

.feature_container .hamper_card input:focus {
  outline: none;
}

.feature_container .hamper_card input::-webkit-outer-spin-button,
.feature_container .hamper_card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feature_container .hamper_card input[type="number"] {
  -moz-appearance: textfield;
}

.feature_container .hamper_card .aocBtn {
  font-size: 0.75rem;
  background: #e0efff;
  height: 40px;
}

.feature_container .hamper_card .aocBtn.btnFilled {
  background-color: #2372fd;
  color: #fff;
}

.feature_container .hamper_card .quantity_cont {
  width: 180px;
}

.feature_container .slick-slide {
  padding: 0 12px;
}

.feature_container .slick-prev,
.feature_container .slick-next {
  background: #d7fdff;
  -webkit-box-shadow: 1px 1px 10px #cecece;
          box-shadow: 1px 1px 10px #cecece;
  height: 40px;
  width: 30px;
}

.feature_container .slick-prev {
  left: -5px;
  z-index: 2;
}

.feature_container .slick-next {
  right: -5px;
}

.feature_container .slick-prev:before {
  display: block;
  content: " ";
  background-image: url("../assets/left.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_container .slick-next:before {
  display: block;
  content: " ";
  background-image: url("../assets/right.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_container .slick-dots {
  bottom: -40px;
}

.feature_container .slick-dots li {
  margin: 0px;
}

.feature_container .slick-dots li button:before {
  color: #0645b2;
}

.feature_container .slick-dots li.slick-active button:before {
  color: #0645b2;
}

.feature_container .slick-dots li button:before {
  font-size: 12px;
}

.feature_container .card_body {
  background: #f4f7f87e;
}

.shop_container {
  background: #ccdde425;
  margin-top: 8rem;
  padding: 5rem 0rem;
}

.shop_container .shop_card img {
  height: 85px;
}

.shop_container .shop_card h4 {
  line-height: 130%;
}

.shop_container .shop_card .desc_cont {
  width: 75%;
  margin-top: 2rem;
}

.shop_container .shop_card .desc_cont p {
  line-height: 22px;
}

.customer_container {
  background: url(../assets/serveBg.png);
  width: 100%;
  height: 100%;
  padding: 6rem 0rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.customer_container:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #0645b2;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
}

.customer_container .inner_customer {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 3rem 4rem 4rem;
}

.customer_container .inner_customer h1 {
  font-size: 3rem;
  line-height: 46px;
}

.customer_container .inner_customer h3 {
  line-height: 110%;
  color: #4a5568;
  font-size: 1.875rem;
}

.customer_container .inner_customer button {
  width: 305px;
  height: 62px;
  border-radius: 4px;
}

.CTA_container {
  background: #ccdde46e;
}

.CTA_container h5 {
  color: #45626f;
  line-height: 132%;
}

.footer_container {
  background-color: #fff;
  padding: 4rem 0rem 5rem;
}

.footer_container h6 {
  color: #001d4f;
}

.footer_container li a {
  color: #304650;
}

.footer_container .contact_cont img {
  width: 25px;
  height: 100%;
}

.underFooter_container {
  background: #45626f;
  height: 32px;
}

.underFooter_container img {
  width: 35px;
  height: auto;
}

@media screen and (max-width: 998px) {
  .hero_section img {
    width: 100%;
  }
  .SideBarContainer {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .header_container .nav_links {
    height: 40px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .hero_section h1 {
    font-size: 2.625rem;
    line-height: 48px;
  }
  .hero_section p {
    font-size: 1.5rem;
  }
  .hero_section button {
    width: 100%;
  }
  .category_container {
    background: url(../assets/categoryM.svg);
    height: 100%;
    width: 100vw;
    padding: 5rem 0rem;
  }
  .category_container h1 {
    font-size: 2.25rem;
  }
  .hero_section .bg_circle {
    width: 100%;
  }
  .customer_container .inner_customer h1 {
    font-size: 2rem;
    line-height: 38px;
  }
  .customer_container .inner_customer h3 {
    font-size: 1.5rem;
  }
  .customer_container .inner_customer button {
    width: 100%;
  }
  .customer_container .inner_customer {
    padding: 3rem 1rem 3rem 1rem;
  }
  .shop_container h1 {
    font-size: 2.25rem;
  }
  .shop_container .shop_card h4 {
    font-size: 1.125rem;
  }
  .shop_container .shop_card .desc_cont {
    width: 100%;
  }
  .SideBarContainer {
    width: 55%;
  }
}

@media screen and (max-width: 575px) {
  .feature_container .slick-slide img {
    width: 40%;
  }
  .feature_container .hamper_card .quantity_cont {
    width: 100%;
  }
  .feature_container .slick-dots {
    bottom: -30px;
  }
  .hampers_container .slick-dots li button:before,
  .feature_container .slick-dots li button:before {
    font-size: 10px;
  }
  .underFooter_container {
    height: 100%;
  }
  .SideBarContainer {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */