@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

html {
	width: 100%;
	font-size: 100%;
	overflow-x: hidden;
	scroll-behavior: auto !important;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 98%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 96%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 94%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 90%;
	}
}

.page_container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

// GLOBAL CLASSES START
.lightGrayC {
	color: #b4c8d2;
}

.grayC {
	color: #4a5568;
}

.blueC {
	color: #4285f4 !important;
}

.darkBlueC {
	color: #003180;
}

.middleBlueC {
	color: #0645b2;
}

.btnBg {
	background: #2372fd;
}

.fw600 {
	font-weight: 600;
}

.dGreenC {
	color: #1d5f3d;
}

.lighthCColor {
	color: #304650;
}

.bottomLine {
	border-bottom: 3px solid #80b1ff;
}

.sidebarActive {
	transition: 0.8s;
	position: relative;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
		z-index: 1;
		transition: 0.8s;
	}
}
// GLOBAL CLASSES END

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	bottom: 0%;
	color: white;
	font-size: 1.3rem;
	background-color: #fff;
	height: 100vh;
	z-index: 11111;
	width: 50%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);

	.logo {
		position: absolute;
		top: 2.1%;
		left: 18%;

		img {
			width: 120px;
		}
	}
}

.SideBarContainer ul {
	margin-top: 5rem;
	padding-left: 1rem;
	padding-right: 1.4rem;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	margin-bottom: 0.1rem;
	cursor: pointer;
	padding: 0.4rem 0rem;

	a {
		color: #000;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;
	}

	// .activeNav::after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0%;
	// 	bottom: 0%;
	// 	height: 10%;
	// 	width: 100%;
	// 	background-color: #007bbc;
	// 	border-radius: 5px;
	// }
}

.loginBtn {
	background: #2372fd;
	width: 100%;
}

.CrossBTn {
	position: absolute;
	top: 3.1%;
	left: 7.4%;
	cursor: pointer;
	font-size: 0.9rem;
	color: rgb(6, 69, 178);
}
/* ==================== SideBAR STYLING END ======================== */

// UPPER TOP HEADER START
.upper_header {
	background: #f4f7f8;
	height: 32px;
}
// UPPER TOP HEADER END

// UNDER HEADER START
.header_container {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
	input {
		background: #f4f7f8;
		border: 1px solid #d4dfe5;
		padding-left: 2.2rem;

		&::placeholder {
			color: #b4c8d2;
		}

		&:focus {
			outline: none;
		}
	}

	.nav_links {
		a {
			font-size: 0.85rem;
		}
	}

	.searchIcon {
		position: absolute;
		left: 2%;
		top: 47%;
		transform: translateY(-50%);
	}
}

.header_containerM {
	.logo_cont {
		img {
			width: 120px;
			height: auto;
		}
	}
}

.pop_up {
	position: absolute;
	right: 0%;
	top: 100%;
	z-index: 2;
}

// UNDER HEADER END

// HERO SECTION START
.hero_section {
	.bg_circle {
		position: absolute;
		z-index: -1;
		right: 0%;
		top: 0%;
	}

	h1 {
		font-size: 5rem;
		font-weight: bold;
		line-height: 80px;
	}

	p {
		font-size: 1.875rem;
	}

	button {
		font-size: 1rem;
		width: 250px;
		height: 61px;
	}
}
// HERO SECTION END

// CATEGORY SECTION START
.category_container {
	background: url(../assets/categoryBg.svg);
	height: 100%;
	width: 100%;
	padding: 5rem 0rem;

	h1 {
		font-size: 3rem;
	}

	.innerSlideCont {
		padding: 12px;

		h6 {
			color: #304650;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
				0px 1px 3px rgba(0, 0, 0, 0.1);
		}
	}
}
// CATEGORY SECTION END

// HAMPERS SECTION START
.hampers_container {
	margin-top: 4rem;

	.hamper_card {
		border: 1px solid #ccdde485;

		.greenBgStar {
			background: #e2fbef;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		.h_name {
			line-height: 130%;
		}

		.cut_tag {
			font-size: 0.75rem;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.quantity_cont {
			width: 180px;
		}
	}

	.slick-slide {
		padding: 0 12px;
		// width: 270px !important;
	}

	.slick-dots {
		bottom: -30px;
	}
	.slick-dots li {
		margin: 0px;
	}
	.slick-dots li button:before {
		color: #0645b2;
	}
	.slick-dots li button:before {
		font-size: 12px;
	}
}
// HAMPERS SECTION END

// FEATURE SECTION START\
.feature_containerMain {
	margin-top: 5rem;
}

.feature_container {
	max-width: 1175px;
	margin-left: auto;
	margin-right: auto;

	.hamper_card {
		border: 1px solid #ccdde485;

		.greenBgStar {
			background: #e2fbef;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		.h_name {
			line-height: 130%;
		}

		.cut_tag {
			font-size: 0.75rem;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.aocBtn.btnFilled {
			background-color: #2372fd;
			color: #fff;
		}

		.quantity_cont {
			width: 180px;
		}
	}

	.slick-slide {
		padding: 0 12px;
	}

	.slick-prev,
	.slick-next {
		background: #d7fdff;
		box-shadow: 1px 1px 10px #cecece;
		height: 40px;
		width: 30px;
	}

	.slick-prev {
		left: -5px;
		z-index: 2;
	}

	.slick-next {
		right: -5px;
	}

	.slick-prev:before {
		display: block;
		content: " ";
		background-image: url("../assets/left.svg");
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.slick-next:before {
		display: block;
		content: " ";
		background-image: url("../assets/right.svg");
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slick-dots {
		bottom: -40px;
	}
	.slick-dots li {
		margin: 0px;
	}
	.slick-dots li button:before {
		color: #0645b2;
	}
	.slick-dots li.slick-active button:before {
		color: #0645b2;
	}

	.slick-dots li button:before {
		font-size: 12px;
	}

	.card_body {
		background: #f4f7f87e;
	}
}
// FEATURE SECTION END

// SHOP SECTION START
.shop_container {
	background: #ccdde425;
	margin-top: 8rem;
	padding: 5rem 0rem;

	.shop_card {
		img {
			height: 85px;
		}

		h4 {
			line-height: 130%;
		}
		.desc_cont {
			width: 75%;
			margin-top: 2rem;

			p {
				line-height: 22px;
			}
		}
	}
}
// SHOP SECTION END

// CUSTOMER SECTION START
.customer_container {
	background: url(../assets/serveBg.png);
	width: 100%;
	height: 100%;
	padding: 6rem 0rem;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgb(6, 69, 178);
		position: absolute;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
		z-index: -1;
	}

	.inner_customer {
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		padding: 3rem 3rem 4rem 4rem;

		h1 {
			font-size: 3rem;
			line-height: 46px;
		}

		h3 {
			line-height: 110%;
			color: #4a5568;
			font-size: 1.875rem;
		}

		button {
			width: 305px;
			height: 62px;
			border-radius: 4px;
		}
	}
}
// CUSTOMER SECTION END

// CTA SECTION START
.CTA_container {
	background: #ccdde46e;

	h5 {
		color: #45626f;
		line-height: 132%;
	}
}
// CTA SECTION END

// FOOTER SECTION START
.footer_container {
	background-color: #fff;
	padding: 4rem 0rem 5rem;

	h6 {
		color: #001d4f;
	}

	li a {
		color: #304650;
	}

	.contact_cont {
		img {
			width: 25px;
			height: 100%;
		}
	}
}
// FOOTER SECTION END

// UNDER FOOTER SECTION START
.underFooter_container {
	background: #45626f;
	height: 32px;

	img {
		width: 35px;
		height: auto;
	}
}
// UNDER FOOTER SECTION END

// MEDIA QUERIES START
@media screen and (max-width: 998px) {
	.hero_section img {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.header_container .nav_links {
		height: 40px;
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}
	.hero_section {
		h1 {
			font-size: 2.625rem;
			line-height: 48px;
		}
		p {
			font-size: 1.5rem;
		}
		button {
			width: 100%;
		}
	}
	.category_container {
		background: url(../assets/categoryM.svg);
		height: 100%;
		width: 100vw;
		padding: 5rem 0rem;

		h1 {
			font-size: 2.25rem;
		}
	}
	.hero_section {
		.bg_circle {
			width: 100%;
		}
	}
	.customer_container .inner_customer h1 {
		font-size: 2rem;
		line-height: 38px;
	}
	.customer_container .inner_customer h3 {
		font-size: 1.5rem;
	}
	.customer_container .inner_customer button {
		width: 100%;
	}
	.customer_container .inner_customer {
		padding: 3rem 1rem 3rem 1rem;
	}
	.shop_container {
		h1 {
			font-size: 2.25rem;
		}
	}
	.shop_container .shop_card h4 {
		font-size: 1.125rem;
	}
	.shop_container .shop_card .desc_cont {
		width: 100%;
	}
}

@media screen and (max-width: 575px) {
	.feature_container {
		.slick-slide img {
			width: 40%;
		}
	}
	.feature_container .hamper_card .quantity_cont {
		width: 100%;
	}
	.feature_container .slick-dots {
		bottom: -30px;
	}
	.hampers_container .slick-dots li button:before,
	.feature_container .slick-dots li button:before {
		font-size: 10px;
	}
	.underFooter_container {
		height: 100%;
	}
}
// MEDIA QUERIES END
