@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

html {
	width: 100%;
	font-size: 100%;
	// overflow-x: hidden;
	scroll-behavior: auto !important;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 98%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 96%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 94%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 92%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 90%;
	}
}

.page_container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

// GLOBAL CLASSES START
.lightGrayC {
	color: #b4c8d2;
}

.grayC {
	color: #4a5568 !important;
}

.blueC {
	color: #4285f4 !important;
}

.darkBlueC {
	color: #003180;
}

.middleBlueC {
	color: #0645b2;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.btnBg {
	background: #2372fd;
}

.fw600 {
	font-weight: 600;
}

.dGreenC {
	color: #1d5f3d;
}

.lighthCColor {
	color: #304650;
}

.activeSidebar {
	background: rgba(224, 239, 255, 0.25);
	color: #000;
	font-weight: 600;
}

.hrBg {
	background-color: #a0a0a0;
}

.bottomLine {
	border-bottom: 3px solid #80b1ff;
}

.pointer {
	cursor: pointer;
}

.sidebarActive {
	transition: 0.8s;
	position: relative;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
		position: absolute;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
		z-index: 1;
		transition: 0.8s;
	}
}

.btnBg2 {
	background: #e0efff;
	color: #0645b2;
	letter-spacing: -0.531474px;
	border-radius: 4px;
	font-size: 16px;
}
// GLOBAL CLASSES END

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	bottom: 0%;
	background-color: #fff;
	height: 100vh;
	z-index: 11111;
	width: 30%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);

	.logo {
		position: absolute;
		top: 2.1%;
		left: 18%;

		img {
			width: 120px;
		}
	}

	.cart {
		p {
			font-size: 12px;
			line-height: 130%;
			color: #304650;
			font-weight: normal;
		}
		h6 {
			font-size: 12px;
		}
		.product {
			width: 75%;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.quantity_cont {
			width: 180px;
		}
	}
}

.SideBarContainer ul {
	margin-top: 5rem;
	padding-left: 1rem;
	padding-right: 1.4rem;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	margin-bottom: 0.1rem;
	cursor: pointer;
	padding: 0.4rem 0rem;

	a {
		color: #000;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;
	}

	// .activeNav::after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 0%;
	// 	bottom: 0%;
	// 	height: 10%;
	// 	width: 100%;
	// 	background-color: #007bbc;
	// 	border-radius: 5px;
	// }
}

.loginBtn {
	background: #2372fd;
	width: 100%;
}

.loginBtn2 {
	background: #e0efff;
	color: #0645b2;
	width: 100%;
}

.CrossBTn {
	position: absolute;
	top: 3.1%;
	left: 7.4%;
	cursor: pointer;
	font-size: 0.9rem;
	color: rgb(6, 69, 178);
}
/* ==================== SideBAR STYLING END ======================== */

// UPPER TOP HEADER START
.upper_header {
	background: #f4f7f8;
	height: 32px;
}
// UPPER TOP HEADER END

// UNDER HEADER START
.header_container {
	transition: 0.4s;
	position: relative;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;

	input {
		background: #f4f7f8;
		border: 1px solid #d4dfe5;
		padding-left: 2.2rem;

		&::placeholder {
			color: #b4c8d2;
		}

		&:focus {
			outline: none;
		}
	}

	.nav_links {
		a {
			font-size: 0.85rem;
		}
	}

	.searchIcon {
		position: absolute;
		left: 2%;
		top: 47%;
		transform: translateY(-50%);
	}
}

.header_containerM {
	.logo_cont {
		img {
			width: 120px;
			height: auto;
		}
	}
}

.header_container.activeSideMbar {
	transition: 0.4s;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 47%,
		rgba(0, 0, 0, 0.8) 47%
	);
}

.pop_up {
	position: absolute;
	right: 0%;
	top: 100%;
	z-index: 2;
}

// UNDER HEADER END

// HERO SECTION START
.hero_section {
	.bg_circle {
		position: absolute;
		z-index: -1;
		right: 0%;
		top: 0%;
	}

	h1 {
		font-size: 5rem;
		font-weight: bold;
		line-height: 80px;
	}

	p {
		font-size: 1.875rem;
	}

	button {
		font-size: 1rem;
		width: 250px;
		height: 61px;
	}
}
// HERO SECTION END

// CATEGORY SECTION START
.category_container {
	background: url(../assets/categoryBg.svg);
	height: 100%;
	width: 100%;
	padding: 5rem 0rem;

	h1 {
		font-size: 3rem;
	}

	.innerSlideCont {
		padding: 12px;

		h6 {
			color: #304650;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06),
				0px 1px 3px rgba(0, 0, 0, 0.1);
		}
	}
}
// CATEGORY SECTION END

// HAMPERS SECTION START
.hampers_container {
	margin-top: 6rem;

	.hamper_card {
		border: 1px solid #ccdde485;

		.greenBgStar {
			background: #e2fbef;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		.h_name {
			line-height: 130%;
		}

		.cut_tag {
			font-size: 0.75rem;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.quantity_cont {
			width: 180px;
		}
	}

	.slick-slide {
		padding: 0 12px;
		// width: 270px !important;
	}

	.slick-dots {
		bottom: -30px;
	}
	.slick-dots li {
		margin: 0px;
	}
	.slick-dots li button:before {
		color: #0645b2;
	}
	.slick-dots li button:before {
		font-size: 12px;
	}
}
// HAMPERS SECTION END

// BAKERY SECTION START
.bakery_container {
	margin-top: 15rem;

	select {
		background: rgba(233, 243, 253, 0.5);
		border: 1px solid #d4dfe5;
		border-radius: 4px;
		height: 40px;
		width: 239px;
		color: #4a5568;
		font-size: 14px;
		line-height: 18px;

		&:focus {
			outline: none;
		}
	}

	.hamper_card.bakeryCard {
		border: 1px solid #ccdde485;

		.greenBgStar {
			background: #e2fbef;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		img {
			width: 30%;
		}

		.h_name {
			font-size: 12px;
			line-height: 130%;
		}

		.cut_tag {
			font-size: 0.75rem;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.innerBody {
			background: #f4f7f8;
		}

		.quantity_cont {
			// width: 180px;
		}
	}
}
// BAKERY SECTION END

// FEATURE SECTION START\
.feature_containerMain {
	margin-top: 5rem;
}

.feature_container.recommend {
	margin-bottom: 10rem;
}

.feature_container {
	max-width: 1175px;
	margin-left: auto;
	margin-right: auto;

	.hamper_card {
		border: 1px solid #ccdde485;

		.greenBgStar {
			background: #e2fbef;
			border-radius: 100px;
			font-size: 0.75rem;
		}

		.h_name {
			line-height: 130%;
		}

		.cut_tag {
			font-size: 0.75rem;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.aocBtn.btnFilled {
			background-color: #2372fd;
			color: #fff;
		}

		.quantity_cont {
			width: 180px;
		}
	}

	.slick-slide {
		padding: 0 12px;
	}

	.slick-prev,
	.slick-next {
		background: #d7fdff;
		box-shadow: 1px 1px 10px #cecece;
		height: 40px;
		width: 30px;
	}

	.slick-prev {
		left: -5px;
		z-index: 2;
	}

	.slick-next {
		right: -5px;
	}

	.slick-prev:before {
		display: block;
		content: " ";
		background-image: url("../assets/left.svg");
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.slick-next:before {
		display: block;
		content: " ";
		background-image: url("../assets/right.svg");
		background-size: 28px 28px;
		height: 28px;
		width: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.slick-dots {
		bottom: -40px;
	}
	.slick-dots li {
		margin: 0px;
	}
	.slick-dots li button:before {
		color: #0645b2;
	}
	.slick-dots li.slick-active button:before {
		color: #0645b2;
	}

	.slick-dots li button:before {
		font-size: 12px;
	}

	.card_body {
		background: #f4f7f87e;
	}
}
// FEATURE SECTION END

// SHOP SECTION START
.shop_container {
	background: #ccdde425;
	margin-top: 8rem;
	padding: 5rem 0rem;

	.shop_card {
		img {
			height: 85px;
		}

		h4 {
			line-height: 130%;
		}
		.desc_cont {
			width: 75%;
			margin-top: 2rem;

			p {
				line-height: 22px;
			}
		}
	}
}
// SHOP SECTION END

// CUSTOMER SECTION START
.customer_container {
	background: url(../assets/serveBg.png);
	width: 100%;
	height: 100%;
	padding: 6rem 0rem;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgb(6, 69, 178);
		position: absolute;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
		z-index: -1;
	}

	.inner_customer {
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		padding: 3rem 3rem 4rem 4rem;

		h1 {
			font-size: 3rem;
			line-height: 46px;
		}

		h3 {
			line-height: 110%;
			color: #4a5568;
			font-size: 1.875rem;
		}

		button {
			width: 305px;
			height: 62px;
			border-radius: 4px;
		}
	}
}
// CUSTOMER SECTION END

// CTA SECTION START
.CTA_container {
	background: #ccdde46e;

	h5 {
		color: #45626f;
		line-height: 132%;
	}
}
// CTA SECTION END

// FOOTER SECTION START
.footer_container {
	background-color: #fff;
	padding: 4rem 0rem 5rem;

	h6 {
		color: #001d4f;
	}

	li a {
		color: #304650;
	}

	.contact_cont {
		img {
			width: 25px;
			height: 100%;
		}
	}
}
// FOOTER SECTION END

// MY ORDER SECTION START\
.bg-page {
	position: absolute;
	background: #f4f9fe;
	height: 150vh;
	width: 100%;
	z-index: -1;
}
.bg-page2 {
	position: absolute;
	background: #f4f9fe;
	height: 1800px;
	width: 100%;
	z-index: -1;
}
.my_order_body {
	height: 920px;
	z-index: -2;

	.bg_blue {
		// margin-top: 4rem;
		position: relative;
		top: 0%;
		background: url(../assets/otherPageBg.svg);
		height: 300px;
		width: 100%;
		// z-index: 1;

		&:before {
			content: "";
			background: #0645b2;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0%;
			bottom: 0%;
			left: 0%;
			right: 0%;
			z-index: -1;
		}
	}

	.mainHead {
		font-size: 54px;
		line-height: 81px;
		font-weight: bold;
	}

	.mainP {
		font-size: 14px;
		font-weight: normal;

		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
			color: #fff;
		}
	}

	.inner_order {
		position: absolute;
		left: 0%;
		top: 10%;
	}
}
// MY ORDER SECTION END

// UNDER FOOTER SECTION START
.underFooter_container {
	background: #45626f;
	height: 32px;

	img {
		width: 35px;
		height: auto;
	}
}
// UNDER FOOTER SECTION END

// BASKET ITEMS START
.basketitems_container {
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;

	h3 {
		color: #0645b2;
		font-weight: bold;
	}

	.cart {
		height: 80px;

		.img_container {
			border: 1px solid #e9eff2;
			height: 80px;
			width: 80px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		p {
			line-height: 130%;
			color: #304650;
			font-weight: normal;
		}
		.product {
			width: 75%;
		}

		input {
			box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
			width: 24px;
			height: 24px;

			&:focus {
				outline: none;
			}
		}

		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type="number"] {
			-moz-appearance: textfield;
		}

		.aocBtn {
			font-size: 0.75rem;
			background: #e0efff;
			height: 40px;
		}

		.quantity_cont {
			width: 180px;
		}
	}

	.mainDiv {
		.first {
			width: 70%;
		}
		.second {
			width: 30%;
		}
	}
}
// BASKET ITEMS END

// ORDER SUMMARY START
.order_summary_container {
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;

	h3 {
		color: #0645b2;
	}
}
// ORDER SUMMARY END

// ORDER SUMMARY CHECKOUT START
.order_summary_container.checkout {
	button {
		height: 37px;
		padding: 0px;
	}
}
// ORDER SUMMARY CHECKOUT END

// BASKET ITEMS CHECKOUT START
.basketitems_container.checkout {
	label {
		color: #1a2a32;
		line-height: 18px;
		font-weight: 500;
		font-size: 14px;
	}

	input {
		border-radius: 4px;
		background: rgba(233, 243, 253, 0.5);
		border: 1px solid #d4dfe5;
		height: 40px;
		color: #4a5568;
		padding: 0px 16px;
		font-size: 14px;

		&::placeholder {
			color: #4a5568;
			font-size: 14px;
		}

		&:focus {
			outline: none;
		}
	}

	.inp_container {
		input {
			padding-left: 35px;
		}

		.location_icon {
			position: absolute;
			left: 0%;
			top: 50%;
			transform: translateY(-50%);
			margin-left: 25px;
		}
	}

	.map_container {
		margin-top: 2rem;

		iframe {
			border-radius: 4px;
			height: 300px;
		}
	}

	.border_cont {
		border: 1px solid #d4dfe5;
		border-radius: 4px;

		.save_btn {
			background: #e2fbef;
			color: #1d5f3d;
			letter-spacing: -0.531474px;
			border-radius: 4px;
		}
	}

	.payment_continue {
		button {
			background: #2372fd;
			border-radius: 4px;
			color: #ffffff;
			letter-spacing: -0.531474px;
			font-size: 14px;
		}
	}

	.border_cont.info_sec {
		.name_ {
			color: #304650;
			font-weight: bold;
			font-size: 14px;
		}
		.under_name {
			color: #5a7e8d;
			font-size: 14px;
		}
	}
}

.my_order_body.receiptDetails {
	height: 1650px;
	z-index: -2;
}

.interestedIn {
	background: #ffffff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
}
// BASKET ITEMS CHECKOUT END

// PRODUCT GALLERY START
.productGallery_container {
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 4px;

	.quantity_cont {
		box-shadow: 2px 1px 10px rgb(224, 224, 224);
	}

	input {
		box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.06);
		width: 24px;
		height: 24px;

		&:focus {
			outline: none;
		}
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type="number"] {
		-moz-appearance: textfield;
	}

	.aocBtn {
		font-size: 0.75rem;
		background: #e0efff;
		height: 40px;
	}
}
// PRODUCT GALLERY END

// PRODUCT GALLERY START
/* ============================ */
/* == IMAGE GALLERY START == */
/* ============================ */
.imageGalleryContainer {
	.image-gallery {
		padding: 8px 8px 4px 8px;
		box-shadow: 1px 1px 10px rgb(230, 230, 230);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
	}
	.image-gallery-image,
	.image-gallery-index,
	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		border-radius: 6px;
	}

	.image-gallery-thumbnail {
		border-radius: 10px;
	}

	.image-gallery {
		padding: 0;
	}

	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		height: 65px !important;
	}

	.image-gallery-content.fullscreen .image-gallery-image {
		object-fit: contain;
		height: 100vh;
	}

	.image-gallery-content:not(.fullscreen):not(.fullscreen)
		.image-gallery-image {
		/* height: calc(100vh - 245px); */
		height: 400px;
		position: relative;
		object-fit: contain;
		min-height: 70px;
		width: 100%;
	}

	.image-gallery-thumbnail.active,
	.image-gallery-thumbnail:focus {
		border: 4px solid #2372fd;
	}
}

.delux_product {
	height: 400px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	&::-webkit-scrollbar-thumb {
		background: #2372fd;
		border-radius: 10px;
	}

	.inner_delux {
		height: 100px;

		img {
			margin: auto;
			max-height: 80px;
		}
	}
}
/* ============================ */
/* == IMAGE GALLERY END == */
/* ============================ */
// PRODUCT GALLERY END

// MEDIA QUERIES START
@media screen and (max-width: 998px) {
	.hero_section img {
		width: 100%;
	}
	.SideBarContainer {
		width: 40%;
	}
	.my_order_body {
		height: 1400px;
	}
	.bg-page {
		height: 200vh;
	}
	.order_summary_container {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.basketitems_container {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.my_order_body.receiptDetails {
		height: 1970px;
		z-index: -2;
	}
	.bg-page2 {
		height: 2200px;
	}
}

@media screen and (max-width: 768px) {
	.header_container .nav_links {
		height: 40px;
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}
	.hero_section {
		h1 {
			font-size: 2.625rem;
			line-height: 48px;
		}
		p {
			font-size: 1.5rem;
		}
		button {
			width: 100%;
		}
	}
	.category_container {
		background: url(../assets/categoryM.svg);
		height: 100%;
		width: 100vw;
		padding: 5rem 0rem;

		h1 {
			font-size: 2.25rem;
		}
	}
	.hero_section {
		.bg_circle {
			width: 100%;
		}
	}
	.customer_container .inner_customer h1 {
		font-size: 2rem;
		line-height: 38px;
	}
	.customer_container .inner_customer h3 {
		font-size: 1.5rem;
	}
	.customer_container .inner_customer button {
		width: 100%;
	}
	.customer_container .inner_customer {
		padding: 3rem 1rem 3rem 1rem;
	}
	.shop_container {
		h1 {
			font-size: 2.25rem;
		}
	}
	.shop_container .shop_card h4 {
		font-size: 1.125rem;
	}
	.shop_container .shop_card .desc_cont {
		width: 100%;
	}
	.SideBarContainer {
		width: 55%;
	}
	.bakery_container select {
		width: 100%;
	}
	.bakery_container {
		margin-top: 5rem;
	}
	.bakery_container {
		.hamper_card.bakeryCard {
			.first {
				width: 25%;
			}

			.second {
				width: 75%;
			}
		}
	}
	.bakery_container .hamper_card.bakeryCard img {
		width: 80%;
	}
	.feature_container.recommend {
		margin-bottom: 6rem;
	}
	.basketitems_container .cart p {
		font-size: 12px;
	}
	.basketitems_container .cart h6 {
		font-size: 12px;
	}
	.my_order_body .mainHead {
		font-size: 32px;
		line-height: 50px;
	}
	.my_order_body .mainP a {
		font-size: 12px;
	}
	.my_order_body {
		height: 1180px;
	}
	.basketitems_container .cart .img_container {
		border: none;
	}
	.basketitems_container .cart .quantity_cont {
		width: 100%;
	}
	.my_order_body.receiptDetails {
		height: 1680px;
		z-index: -2;
	}
	.basketitems_container.checkout .payment_continue button {
		width: 100%;
	}
	.imageGalleryContainer
		.image-gallery-content:not(.fullscreen):not(.fullscreen)
		.image-gallery-image {
		height: 250px;
	}
}

@media screen and (max-width: 575px) {
	.feature_container {
		.slick-slide img {
			width: 40%;
		}
	}
	.feature_container .hamper_card .quantity_cont {
		width: 100%;
	}
	.feature_container .slick-dots {
		bottom: -30px;
	}
	.hampers_container .slick-dots li button:before,
	.feature_container .slick-dots li button:before {
		font-size: 10px;
	}
	.underFooter_container {
		height: 100%;
	}
	.SideBarContainer {
		width: 100%;
	}
}
// MEDIA QUERIES END
