@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 94%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 90%;
  }
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.lightGrayC {
  color: #b4c8d2;
}

.grayC {
  color: #4a5568;
}

.blueC {
  color: #4285f4;
}

.darkBlueC {
  color: #003180;
}

.middleBlueC {
  color: #0645b2;
}

.btnBg {
  background: #2372fd;
}

.fw600 {
  font-weight: 600;
}

.bottomLine {
  border-bottom: 3px solid #80b1ff;
}

.upper_header {
  background: #f4f7f8;
  height: 32px;
}

.header_container {
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header_container input {
  background: #f4f7f8;
  border: 1px solid #d4dfe5;
  padding-left: 2.2rem;
}

.header_container input::-webkit-input-placeholder {
  color: #b4c8d2;
}

.header_container input:-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::-ms-input-placeholder {
  color: #b4c8d2;
}

.header_container input::placeholder {
  color: #b4c8d2;
}

.header_container input:focus {
  outline: none;
}

.header_container .nav_links a {
  font-size: 0.85rem;
}

.header_container .searchIcon {
  position: absolute;
  left: 2%;
  top: 47%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_containerM .logo_cont img {
  width: 120px;
  height: auto;
}

.hero_section .bg_circle {
  position: absolute;
  z-index: -1;
  right: 0%;
  top: 0%;
}

.hero_section h1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 80px;
}

.hero_section p {
  font-size: 1.875rem;
}

.hero_section button {
  font-size: 1rem;
  width: 250px;
  height: 61px;
}

.category_container {
  background: url(../assets/categoryBg.svg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding: 5rem 0rem;
}

.category_container h1 {
  font-size: 3rem;
}

@media screen and (max-width: 998px) {
  .hero_section img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header_container .nav_links {
    height: 40px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .hero_section h1 {
    font-size: 2.625rem;
    line-height: 48px;
  }
  .hero_section p {
    font-size: 1.5rem;
  }
  .hero_section button {
    width: 100%;
  }
  .category_container {
    background: url(../assets/categoryM.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 5rem 0rem;
  }
  .category_container h1 {
    font-size: 2.25rem;
  }
}
/*# sourceMappingURL=style.css.map */